 {% assign links = site.data.navigation.main %}  
<section class="nav-normal-scroll" >
	<div class=" header-wrapper ">
		<div class="pull-left logo">
			<a href="/">
				<img src="/assets/images/padre-logo-header.jpg" alt="Hotel padre"/>
			</a>
		</div>
		<div class="pull-left header-nav-bar">
			<ul>
			{% for link in links %}
		      <li>
		        <a  href="{{ link.url | absolute_url }}" {% if link.dropdown%}  aria-haspopup="true" aria-expanded="false" {%endif%}  title=" {{ link.title }}"> <span>{{forloop.index | prepend: '0'}} </span> {{ link.title }}</a>
		        {% if link.dropdown%}
		         <ul>
		           {% for sublink in link.dropdown %}
		            <li> <a  href="{{ sublink.url | absolute_url }}" title="{{ sublink.title }}">{{ sublink.title }}</a></li>
		           {% endfor %}
		         </ul>
		         {% endif %}
		      </li>
		    {% endfor %}
		    </ul>   
		</div>
		<div class="pull-right booknow-btn">
			<a href="javascript:void(0);" title="Book Now"  class="hover-transition" show-booking-widget>Book now</a>
		</div>
		<div class="menu-icon-holder">
			<a class="menu-icon" title="Menu"><span class="sr-only">Menu</span></a>
		</div>
	</div>
 
</section>
 