<div class="social-icons">
        <ul>
            <li><a href="https://twitter.com/thepadrehotel" title="Twitter" target="_blank"><i class="fa fa-twitter"></i> <span class="sr-only">twitter</span></a></li>
            <li><a href="https://facebook.com/thepadrehotel" title="Facebook"  target="_blank"><i class="fa fa-facebook"></i><span class="sr-only">facebook</span></a></li>
            <li><a href="https://instagram.com/thepadrehotel" title="Instagram"  target="_blank"><i class="fa fa-instagram"></i><span class="sr-only">instagram</span></a></li>
        </ul>
    </div>