.contact-three-images{
	.contact-img{
			height:405px;
			background-size:cover;
			float: left;
			
			 @media(max-width: 800px) {
				height:200px; 
			 }
			  @media(max-width: 320px) {
				height:110px; 
			 }
	}
		.contact-img1{
			
			
			width: 25.0%;
			
			}
		.contact-img2{
			
			
			width: 45.819%;
			
			
		
		}
		.contact-img3{
			
			
			width: 29.181%;
			
		}
	}
.contact-form{
	
		margin-top: 50px;
		text-transform:uppercase;
		@media (max-width: 768px) {
			
			margin-top: 20px;	
			padding-right: 20px;
			 }
		
	label{
		
    	font-family: $Book ;
		font-size:14px;
		color:$Secondary;
		font-weight:600;
		margin-top: 16px;
		letter-spacing:.1em;
		
		}
	
	.form-control{
	    border-color: $Secondary;
		border-radius: 0px;
		box-shadow: none;
		letter-spacing: 1px;
		font-size: 14px;	
		padding:21px;
		}
	.formbtn {
          
            width: 137px;
            height: 43px;
			font-size: 13px;
           	position:relative;
			font-family:$Medium;
            background-color: $White;
            border: none;
			font-weight:normal;
			letter-spacing:.1em;
            border: solid 1px $Secondary;
            display: block;
			color:$Secondary;
			padding-left:20px;
			text-align: left;
			border-radius: 0px;
			text-transform:uppercase;
			margin-top: 35px;
			&:hover{
				
					background: $Secondary; /* Old browsers */
					background: -moz-linear-gradient(left,  $Secondary 68%, $White 64%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left,  $Secondary 68%, $White 64%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right,  $Secondary 68%, $White 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$Secondary', endColorstr='$White',GradientType=1 ); /* IE6-9 */


				color:$White;
				}
			span{
				       position: absolute;
						right: 0px;
						height: 42px;
						width: 43px;
						top: 0px;
						padding: 9px;
						border-left: 1px solid #8a6d3b;
				}
            
        }
	}
.rfp-form{	
margin:0px;
h6{
	font-size:16px;
	font-weight:600;
	color:$Primary;
	letter-spacing: .1em;
	}
.checkbox-holder{
	padding: 0px;
    margin:0px 12px;
		label{
			margin:0px;
			padding:10px 18px 10px 10px;
			font-weight:normal;
			}
	}
	
}
.pagenotfound{
	p{
		margin-top: 25px;
	}
}
.content-top-margin{
	.location-container{
		.pagenotfound{
			h3{
				padding-top: 0px;
			}
			ul{
				margin-top: 0px;
				text-transform: uppercase;
				li{
					list-style-type: disc;
					padding-left: 5px;
				}
				ul{
					padding: 0 0 0 25px;
				}
			}
		}
	}
}