.gallery-container{
		max-width:938px;
		margin:0px auto;
		@media (max-width: 1154px){
		margin-top:70px;	
		}
		h4{	font-family: $Av-Black ;
			text-align:center;
			font-size: 24px;
			color: $Primary;
			text-transform: uppercase;
			padding:50px 0px;
			margin: 0px;
			@media (max-width: 1154px){
				
				padding:30px;
				
				}
			}
	img{
		 margin-bottom: 30px;
		 
	}
	
	.lastrow-img-margin{
		@media (min-width: 1154px){
		margin-bottom: 0px;
		}
	 }

	 .accolo_text{
    	font-family: $Book ;
		font-size:14px;
		color:$Secondary;
		font-weight:600;
		letter-spacing:.1em;
		
		}
	 .accolo_bodybold{
	 	width:20%;
	 	padding:5px 10px;
	 }
	 .accolo_bodytext{
	 	padding:5px 10px ;
	 	 
	 }
	 .accolo_textStyle,
	 .accolo_selectStyle{
	 	border:1px solid $Secondary;
		border-radius: 0px;
		box-shadow: none;
		letter-spacing: 1px;
		padding:14px;
		font-size: 14px;
		width:100%;

		&:focus{
		border:1px solid $Secondary;
		outline:0;
		}
	 }
	 .accolo_button{
	 		font-size: 13px;
           	position:relative;
			font-family:$Medium;
            background-color: $White;
            border: none;
			font-weight:normal;
			letter-spacing:.1em;
            border: solid 1px $Secondary;
            display: block;
			color:$Secondary;
			padding:0px 20px;
			text-align: center;
			border-radius: 0px;
			text-transform:uppercase;
			margin: 20px 0px;
			height:40px;
			transition: all 0.6s ease;
			&:hover{
				transition: all 0.6s ease;
				background: $Secondary; /* Old browsers */
				color:$White;
				}
	 }



	}
	
.media-container{
	margin-top: 0px;
	    font-size: 14px;
		color: $Black;
	a{
		    color: #333333;
			
			
			
		&:hover{
			color: $Secondary;
		}
	}
	.fa{
		   
			font-size: 24px;
			color: $Secondary;
			padding-right: 5px;
		}
	.marketing-link{
		margin-top:50px;
		}
			
	}
	
	
	