.room-list-container{

			.col-md-8 {

      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
        @media (min-width: 1024px){
          width: 61.4%;
          vertical-align: middle;
          display: table-cell;
          float: none;
          clear:both;
      }
      @media (min-width: $screen-xs-min){
          min-height: 300px;
      }


		}
		.col-md-4 {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
        @media (min-width: 1024px){
          width: 38.6%;
          vertical-align: middle;
          display: table-cell;
          float: none;
          clear:both;
        }
        @media (min-width: 320px){
            min-height: 300px;
        }
		}

	}
	.padd-l40{
		 padding-left:37px;
		 @media (max-width: 1024px){
		 padding-left:0px;
		 }
	}
	.rooms-list-top-margin{
		margin-top:74px;
		 @media (max-width: 1024px){
		 margin-top:25px;
		 }
     .row {
       display: table;
       width: 100%;
       margin: 0;
     }
		}
	.rooms-description1{
		margin-top:36px;
		border:1px solid $Secondary;
		max-width:562px;
		text-align:center;
		padding:42px 55px;

		 @media (max-width: 1024px){
		margin-top:15px;
		padding:20px 30px;
		 }
		.rooms-icon-right{
			position:absolute;
			top: -61px;
    		right: 12px;
			}
		.rooms-icon-left{
			position:absolute;
			top: -32px;
    		left: -47px;
			}
			.rooms-boot-second{
			    top: -33px;
  			  right: 12px;
			}
			.rooms-hat-first{
			    top: -54px;
   			 right: -7px;
			}

		.rooms-hat-flip{
			 -webkit-transform: rotate(-86deg);
			-moz-transform: rotate(-86deg);
			-o-transform: rotate(-86deg);
			-ms-transform: rotate(-86deg);
			transform: rotate(-86deg);
			top: -55px;
    		left: -23px;
			}
			.rooms-gun-first{
			 top: -40px;
   			 left: 0px;
			}
		.rooms-gun-second{
			    top: -28px;
   			 right: -14px;
			}
		.dimond{
			color:$Secondary;
			display:block;
			padding:15px;
			@media (max-width: 1024px){
			padding:10px;
		 }

			}
		h4{
			font-family: $Medium;
			font-size:14px;
			color:$Secondary;
			letter-spacing:.04em;
			text-transform:uppercase;

			}
		h3{
			font-family:$Av-Black ;
			font-size:18px;
			color:$Secondary;
			letter-spacing:.2em;
			position:relative;
			text-transform:uppercase;
			    margin: 15px 0px 0px 0px;
			}
			p{ font-weight:normal;
			overflow:hidden;
			height:145px;
			}
		.buttons-container{
			margin-top:42px;
			@media (max-width: 1024px){
			margin-top:10px;
		 }
			a{
				min-width:206px;
				margin:  0px 5px;
				}
			}

		}
		.rooms-description2{
			margin-left: 25px;
			margin-top: 15px;
			border:none;
			@media (max-width: 1024px){
			margin-left: 0px;
			margin-top: 0px;
		 }
		 @media (max-width: 800px){
			 padding-top: 40px;
			margin:0px auto;
		 }
		  @media (max-width: 800px){
			 padding-top: 15px;

		 }

			a{
				display:block;
				width:206px;
				margin: 0px  auto !important;
				margin-bottom: 17px !important;

				}

			}
