
//Fonts
$Book        : 'Avenir LT W01_45 Book1475508';
$Medium      : 'Avenir LT W01_65 Medium1475532';
$Av-Black    : 'Avenir LT W01_95 Black1475556';
$Heavy       : 'Avenir LT W01_85 Heavy1475544';
$Mono45      : 'Blythe W01 Mono45';
$Didot-Bold	 : 'Didot W01 Bold';


// colors
$Black       : #000000;
$White       : #FFFFFF;
$Primary     : #9d8d64;
$Secondary   : #816e3d; 
