---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
          {% include social-links.html %}
        <div class="title">The Padre Hotel</div>
        {% region events-image %}
      </div>
    </div>
    <div class="gallery-container common-container dine">
      <div class="row ">
        <div class="col-md-12">
          {% assign eventitems = site.data._models.events | sort: 'sort_order' %}
          {% for eventitem in eventitems %}
            {% if eventitem.unpublish != true %}
              <div  class="event-list" id="{{ eventitem.view_event_button_url }}">
                <h5 >{{ eventitem.title }}</h5>
                <img src={{ eventitem.banner_image.url }} class="img-width" alt="{{ eventitem.title }}"/>
                <div class="row ">
                  <div class="col-md-6">
                    <p class="description">{{ eventitem.description }}</p>
                  </div>
                  <div class="col-md-6 link-container">
                    {% if eventitem.button_text and eventitem.button_text !="" %}
                    <div class="ticket" >
                      <span>
                      {{ eventitem.button_text }}
                      </span> 
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}

         
          
        </div>
      </div>
    </div>
    <div class="row ">
      <hr class=" hr-border">
    </div>
  </div>
</section>
