---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        <div class="social-icons">
          <ul>
            <li><a href="https://twitter.com/thepadrehotel" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/thepadrehotel" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://instagram.com/thepadrehotel/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="title">Padre hotel</div>

        <img src='/assets/images/dine/farmacy-cafe.jpg' class='img-width ' alt='Contact' />
        <h1>MENUS</h1>
      </div>
    </div>
  </div>
</section>

<div class="page-right-bg">
  <section class="global-container">
    <div class="container">
      <div class="row location-container">
        <div class="col-md-12 no-gutter ">
          <div class="dine-menu container">
            <div id="accordion" class="panel-group">
              <div class="panel">
                <div class="panel-heading">
                  <h3 class="panel-title">
                  <a href="#belvedere" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Belvedere Room</a>
                  </h3>
                </div>
                <div id="belvedere" class="panel-collapse collapse ">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign belvedere = site.data._models.menu_belvedere | sort: "sort_order" %}
                          {% for item in belvedere %}
                          {% if item.title != "others" %}
                          <h3 class="item-name">{{item.title}}</h3>
                          {% endif %}
                            {% for menu in item.menu_items %}
                             <h5> {{menu.name}} </h5>
                             <p>{{menu.detail}}</p>
                              <br>
                            {% endfor %}
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h3 class="panel-title">
                <a href="#alldaymenu" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Brimstone All Day</a>
              </h3>
                </div>
                <div id="alldaymenu" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">

                        {% assign alldaymenu = site.data._models.menu_brimstone_allday  | sort: "sort_order" %}
                          {% for item in alldaymenu %}
                          {% if item.title != "others" %}
                          <h3 class="item-name">{{item.title}}</h3>
                          {% endif %}
                            {% for menu in item.menu_items %}
                             <h5> {{menu.name}} </h5>
                             <p>{{menu.detail}}</p>
                              <br>
                            {% endfor %}
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#brunch" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">BRUNCH</a>
                  </h3>
                </div>
                <div id="brunch" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                         {% assign brunch = site.data._models.menu_brunch | sort: "sort_order"  %}
                          {% for item in brunch %}
                          {% if item.title != "others" %}
                          <h3 class="item-name">{{item.title}}</h3>
                          {% endif %}
                            {% for menu in item.menu_items %}
                             <h5> {{menu.name}} </h5>
                             <p>{{menu.detail}}</p>
                              <br>
                            {% endfor %}
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#prairie" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Prairie Fire</a>
                  </h3>
                </div>
                <div id="prairie" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign prairie = site.data._models.menu_prairie_fire  | sort: "sort_order" %}
                         {% for item in prairie %}
                         {% if item.title != "others" %}
                         <h3 class="item-name">{{item.title}}</h3>
                         {% endif %}
                           {% for menu in item.menu_items %}
                            <h5> {{menu.name}} </h5>
                            <p>{{menu.detail}}</p>
                             <br>
                           {% endfor %}
                         {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#breakfast" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Farmacy Breakfast</a>
                  </h3>
                </div>
                <div id="breakfast" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign farmacy = site.data._models.menu_farmacy_breakfast | sort: "sort_order" %}
                         {% for item in farmacy %}
                         {% if item.title != "others" %}
                         <h3 class="item-name">{{item.title}}</h3>
                         {% endif %}
                           {% for menu in item.menu_items %}
                            <h5> {{menu.name}} </h5>
                            <p>{{menu.detail}}</p>
                             <br>
                           {% endfor %}
                         {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#barista" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Barista</a>
                  </h3>
                </div>
                <div id="barista" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign barista = site.data._models.menu_barista  | sort: "sort_order" %}
                         {% for item in barista %}
                         {% if item.title != "others" %}
                         <h3 class="item-name">{{item.title}}</h3>
                         {% endif %}
                           {% for menu in item.menu_items %}
                            <h5> {{menu.name}} </h5>
                            <p>{{menu.detail}}</p>
                             <br>
                           {% endfor %}
                         {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#christmas" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Christmas </a>
                  </h3>
                </div>
                <div id="christmas" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign christmas  = site.data._models.menu_christmas   | sort: "sort_order" %}
                         {% for item in christmas  %}
                         {% if item.title != "others" %}
                         <h3 class="item-name">{{item.title}}</h3>
                         {% endif %}
                           {% for menu in item.menu_items %}
                            <h5> {{menu.name}} </h5>
                            <p>{{menu.detail}}</p>
                             <br>
                           {% endfor %}
                         {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#wine" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Wine Dinner</a>
                  </h3>
                </div>
                <div id="wine" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-8 col-md-push-3 no-gutter">
                        {% assign wine  = site.data._models.menu_wine   | sort: "sort_order" %}
                         {% for item in wine  %}
                         {% if item.title != "others" %}
                         <h3 class="item-name">{{item.title}}</h3>
                         {% endif %}
                           {% for menu in item.menu_items %}
                            <h5> {{menu.name}} </h5>
                            <p>{{menu.detail}}</p>
                             <br>
                           {% endfor %}
                         {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#nye" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">NYE Dinner</a>
                  </h3>
                </div>
                <div id="nye" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign nye  = site.data._models.menu_nye   | sort: "sort_order" %}
                         {% for item in nye  %}
                         {% if item.title != "others" %}
                         <h3 class="item-name">{{item.title}}</h3>
                         {% endif %}
                           {% for menu in item.menu_items %}
                            <h5> {{menu.name}} </h5>
                            <p>{{menu.detail}}</p>
                             <br>
                           {% endfor %}
                         {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>

  {% comment %}
  <section class="global-container">
    <div class="container">
      <div class="row contact-three-images">
        {% region contact-three-images %}
      </div>
  </section>
  {% endcomment %}
