---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        <div class="social-icons">
          <ul>
            <li><a href="https://twitter.com/thepadrehotel" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/thepadrehotel" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li> <a href="https://instagram.com/thepadrehotel/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="title">Padre hotel</div>

        <img src='/assets/images/dine/farmacy-cafe.jpg' class='img-width ' alt='Contact' />
        <h1>MENUS</h1>
      </div>
    </div>
  </div>
</section>

<div class="page-right-bg">
  <section class="global-container">
    <div class="container">
      <div class="row location-container">
        <div class="col-md-12 no-gutter ">
          <div class="dine-menu container">
            <div id="accordion" class="panel-group">
              <div class="panel">

                <div class="panel-heading">
                  <h3 class="panel-title">
                  <a href="#belvedere" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Belvedere Room</a>
                  </h3>
                </div>
                <div id="belvedere" class="panel-collapse collapse ">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign Belvedere = site.data._models.menu_items | sort: "order" | where: "menu_type","Belvedere Room" %} {% for belvedereitem in Belvedere %} {% unless loop_item_header == belvedereitem.category.name %} {% assign loop_item_header = belvedereitem.category.name
                        %}
                        <h3 class="item-name">{{belvedereitem.category.name}}</h3> {% endunless %}
                        <h5>
                          {{belvedereitem.title}} |
                          {% for itemprice in belvedereitem.item_price %}
                          {{itemprice.name}}  {{itemprice.price}}
                          {% unless forloop.last %}:{% endunless %}
                          {% endfor %}
                        </h5> {{belvedereitem.detail}}
                        <br> {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel-heading">
                  <h3 class="panel-title">
                <a href="#alldaymenu" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Brimstone All Day</a>
              </h3>
                </div>
                <div id="alldaymenu" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign Alldaymenu = site.data._models.menu_items | sort: "order" | where: "menu_type","All Day Menu" %} {% for alldayitem in Alldaymenu %} {% unless loop_item_header == alldayitem.category.name %} {% assign loop_item_header = alldayitem.category.name %}
                        <h3 class="item-name">{{alldayitem.category.name}}</h3> {% endunless %}
                        <h5>
                          {{alldayitem.title}} |
                          {% for itemprice in alldayitem.item_price %}
                          {{itemprice.name}}  {{itemprice.price}}
                          {% unless forloop.last %}:{% endunless %}
                          {% endfor %}
                        </h5> {{alldayitem.detail}}
                        <br> {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#brunch" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">BRUNCH</a>
                  </h3>
                </div>
                <div id="brunch" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign Brunch = site.data._models.menu_items | sort: "order" | where: "menu_type","Brunch" %} {% for brunchitem in Brunch %} {% unless loop_item_header == brunchitem.category.name %} {% assign loop_item_header = brunchitem.category.name %}
                        <h3 class="item-name">{{brunchitem.category.name}}</h3> {% endunless %}
                        <h5>
                          {{brunchitem.title}} |
                          {% for itemprice in brunchitem.item_price %}
                          {{itemprice.name}}  {{itemprice.price}}
                          {% unless forloop.last %}:{% endunless %}
                          {% endfor %}
                        </h5> {{brunchitem.detail}}
                        <br> {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#prairie" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Prairie Fire</a>
                  </h3>
                </div>
                <div id="prairie" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign Prairie = site.data._models.menu_items | sort: "order" | where: "menu_type","Prairie Fire" %} {% for prairieitem in Prairie %} {% unless loop_item_header == prairieitem.category.name %} {% assign loop_item_header = prairieitem.category.name %}
                        <h3 class="item-name">{{prairieitem.category.name}}</h3> {% endunless %}
                        <h5>
                          {{prairieitem.title}} |
                          {% for itemprice in prairieitem.item_price %}
                          {{itemprice.name}}  {{itemprice.price}}
                          {% unless forloop.last %}:{% endunless %}
                          {% endfor %}
                        </h5> {{prairieitem.detail}}
                        <br> {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#breakfast" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Farmacy Breakfast</a>
                  </h3>
                </div>
                <div id="breakfast" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign Breakfast = site.data._models.menu_items | sort: "order" | where: "menu_type","Breakfast" %} {% for breakfastitem in Breakfast %} {% unless loop_item_header == breakfastitem.category.name %} {% assign loop_item_header = breakfastitem.category.name %}
                        <h3 class="item-name">{{breakfastitem.category.name}}</h3> {% endunless %}
                        <h5>
                          {{breakfastitem.title}} |
                          {% for itemprice in breakfastitem.item_price %}
                          {{itemprice.name}}  {{itemprice.price}}
                          {% unless forloop.last %}:{% endunless %}
                          {% endfor %}
                        </h5> {{breakfastitem.detail}}
                        <br> {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>


                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a href="#barista" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion">Barista</a>
                  </h3>
                </div>
                <div id="barista" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="row">
                      <div class=" col-md-8 col-md-push-3 no-gutter ">
                        {% assign Barista = site.data._models.menu_items | sort: "order" | where: "menu_type","Barista" %} {% for baristaitem in Barista %} {% unless loop_item_header == baristaitem.category.name %} {% assign loop_item_header = baristaitem.category.name %}
                        <h3 class="item-name">{{baristaitem.category.name}}</h3> {% endunless %}
                        <h5>
                          {{baristaitem.title}} |
                          {% for itemprice in baristaitem.item_price %}
                          {{itemprice.name}}  {{itemprice.price}}
                          {% unless forloop.last %}:{% endunless %}
                          {% endfor %}
                        </h5> {{baristaitem.detail}}
                        <br> {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>

  {% comment %}
  <section class="global-container">
    <div class="container">
      <div class="row contact-three-images">
        {% region contact-three-images %}
      </div>
  </section>
  {% endcomment %}
