---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        <div class="social-icons"><ul>
          <li><a href="https://twitter.com/thepadrehotel" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://facebook.com/thepadrehotel"  target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li> <a href="https://instagram.com/thepadrehotel"  target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="title">The Padre Hotel</div>
      {% region contact-header %}
      
    </div>
  </div>
  <div class="row location-container">
    <div class="col-md-3 no-gutter logo-container " >
      <div class="row no-gutter address">
        {% region contact-info %}
        
      </div>
    </div>
    <div class="col-md-8  directions pagenotfound">
    <p>We're sorry but it looks like that page doesn't exist anymore.<br>Please view the Sitemap below or go back to the <a href="/">Homepage</a></p>
    <h3>Sitemap</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li>Stay</li>
        <ul>
          <li><a href="/rooms-and-suites/">Rooms</a></li>
          <li><a href="/special-offers/">Specials</a></li>
          <li><a href="/about-us/">About Us</a></li>
          <li><a href="/location/">Location</a></li>
          <li><a href="/gallery/">Gallery</a></li>
        </ul>
      <li>Dine</li>
        <ul>
          <li><a href="/dine/belvedere-room/">Belvedere Room</a></li>
          <li><a href="/dine/brimstone/">Brimstone</a></li>
          <li><a href="/dine/prospect/">Prospect</a></li>
          <li><a href="/dine/prairie-fire/">PRAIRIE FIRE</a></li>
          <li><a href="/dine/farmacy-cafe/">FARMACY CAFE</a></li>
          <li><a href="/dine/private-dining/">PRIVATE DINING</a></li>
        </ul>
      <li>Play</li>
        <ul>
          <li><a href="/play/events/">Events</a></li>
          <li><a href="/play/spa-packages/">Spa Packages</a></li>
          <li><a href="/play/in-the-area/">In The Area</a></li>
        </ul>
      <li>Gather</li>
        <ul>
          <li><a href="/gather/corporate-meetings-and-events/">CORPORATE MEETINGS &amp; EVENTS</a></li>
          <li><a href="/gather/weddings/">Weddings</a></li>
          <li><a href="/gather/event-promos/">Event Promos</a></li>
        </ul>
      <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
  
  <div class="row">
   <hr class=" hr-border">
  </div>
 
</div>
</section>
