---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
          {% include social-links.html %}
          <div class="title">The Padre Hotel</div>
             {% region prospect-image %} 
      </div>
    </div>
    <div class="gallery-container  common-container dine">
      <div class="row ">
        <div class="col-md-12">
          {% region prospect-content-area-1 %} 
         <div class="dine-hours-section center-block">
           {% region prospect-content-area-2 %} 
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <hr class=" hr-border">
    </div>
  </div>
</section>
