---
layout: default
---
<section rt3-rooms-browser="browser">
<section class="container banner-onscroll content-top-margin global-container room-container " >
  <div class="row">
    <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
        {% include social-links.html %}
      <div class="title">The Padre Hotel</div>
      {% region rooms-and-suites-header %}


    </div>
  </div>
  <div class="row">
    <div class="col-md-12 sublinks">
     <ul>
        <li ng-repeat="room in browser.roomsList"><a href='#[[room.code]]' title='[[room.name]]'>[[room.name]]</a> </li>

      </ul>

    </div>
  </div>
</section>
<div class="global-container"  ng-cloak >
  <section class="style-comfort-section">
    <div class="container ">
      <div class="row ">
        <div class="col-sm-10 pull-right no-gutter room-couple-img-width">

          {% region rooms-and-suites-description %}

        </div>
      </div>
    </div>
  </section>
  <section class="container room-list-container" >
    <div class="rooms-list-top-margin " ng-repeat="room in browser.roomsList">
      <div ng-if="$even" class="row " id="[[room.code]]">
        <div class="col-md-4  no-gutter  " style="background-image: url([[room.photos[0].yankee_large]])" title="[[room.name]]"> </div>
        <div class="col-md-8 no-gutter">
          <div class="rooms-description1 center-block" >

            <h4>[[room.name]]</h4>
            <h3 class="room-rate">TONIGHT’S RATE:[[room.todayRate]]</h3>
            <span class="dimond"> ◆</span>
            <p>[[room.description]]</p>
            <div class="brown-button buttons-container"><a href="/room/?[[room.name | formatNameForLink]]" class="hover-transition" title="View Suite">VIEW SUITE</a> <a ng-href="https://thepadrehotel.reztrip.com/search?&selected_room=[[room.code]]" target="_blank" class="hover-transition" title="Book Suite" >BOOK SUITE</a></div>
          </div>
        </div>
      </div>
      <div ng-if="$odd" class="row " id="[[room.code]]">
        <div class=" col-md-4 no-gutter">
          <div class="rooms-description1 rooms-description2 center-block">

            <h4>[[room.name]]</h4>
            <h3 class="room-rate">TONIGHT’S RATE:[[room.todayRate]]</h3>
            <span class="dimond"> ◆</span>
            <p>[[room.description]]</p>
            <div class="brown-button buttons-container"><a href="/room/?[[room.name | formatNameForLink]]" class="hover-transition" title="View Room">VIEW ROOM</a> <a href="https://thepadrehotel.reztrip.com/search?&selected_room=[[room.code]]"  target="_blank"  class="hover-transition" title="Book Room">BOOK ROOM</a></div>
          </div>
        </div>
        <div class=" col-md-8 no-gutter"> <img ng-src="[[room.photos[0].yankee_large]]"  class="img-reponsive img-width" alt="[[room.name]]"/> </div>
      </div>
    </div>


  </section>
<div class="home-offers ">

  <div class="container global-container ">
    <div class="row">
      <div class="header">
        <h3 class="text-bold">special offers</h3>
        <span class="dimond"> ◆</span>
        <p>Whether it's a romantic evening, a foodie retreat or an extended vacay you're looking for,
      	   let our unique hotel packages be the cherry on top of your Padre getaway.
          </p>
      </div>
      <div class="offers-list"  rt3-special-rates="specials">
        <div class="row no-gutter">
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding">
             <div class="img-container">
            <img ng-src="[[ specials.special_rates[1].lead_photo_url.large]]"  class="img-width"  alt="[[ specials.special_rates[1].rate_plan_name | filterHtmlChars ]]"/>
            </div>
              <h5>[[ specials.special_rates[1].rate_plan_name | filterHtmlChars ]]</h5>
              <p>[[ specials.special_rates[1].short_description | filterHtmlChars ]]</p>
              <div class="brown-button "><a  ng-href="/special/?[[specials.special_rates[1].rate_plan_name | formatNameForLink]]" class="hover-transition view-offer-button" title="view offer">View offer</a></div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding">
            <div class="img-container">
            <img ng-src="[[ specials.special_rates[2].lead_photo_url.large]]"  class="img-width"  alt="[[ specials.special_rates[2].rate_plan_name | filterHtmlChars ]]"/>
            </div>
              <h5>[[ specials.special_rates[2].rate_plan_name | filterHtmlChars ]]</h5>
              <p>[[ specials.special_rates[2].short_description | filterHtmlChars ]]</p>
              <div class="brown-button "><a  ng-href="/special/?[[specials.special_rates[2].rate_plan_name | formatNameForLink]]" class="hover-transition view-offer-button" title="view offer">View offer</a></div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 ">
            <div class="item-padding">
             <div class="img-container">
             <img ng-src="[[ specials.special_rates[3].lead_photo_url.large]]"  class="img-width"  alt="[[ specials.special_rates[3].rate_plan_name | filterHtmlChars ]]"/>
             </div>
              <h5>[[ specials.special_rates[3].rate_plan_name | filterHtmlChars ]]</h5>
              <p>[[ specials.special_rates[3].short_description | filterHtmlChars ]]</p>
              <div class="brown-button "><a  ng-href="/special/?[[specials.special_rates[3].rate_plan_name | formatNameForLink]]" class="hover-transition view-offer-button" title="view offer">View offer</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
<div class="row view-all-button-container">
  <div class="transparant-button "><a href="/special-offers/" class="hover-transition" title="View All Offers">View all offers</a></div>
</div>

<hr class=" hr-border">

</div>
</section>
