---
layout: default
---
<section class="global-container banner-onscroll content-top-margin">
<div class="container">
<div class="row">
 <div class="col-md-12 no-gutter specials-listing-banner banner-color-overlay">
  {% include social-links.html %}
   <div class="title">The Padre Hotel</div>
   <img src="/assets/images/specials-listing-banner.jpg" class="img-width" alt=""/> 
    <h1>Sitemap</h1>
   </div>

</div>
<div class="gallery-container media-container common-container container">
<div class="row ">
 
      <div class="col-md-12">
    
          {% assign links = site.data.navigation.main %} 
          <ul class="sitemap">
          {% for link in links %}
          <li>
            <a  href="{{ link.url | absolute_url }}" {% if link.dropdown%}  aria-haspopup="true" aria-expanded="false" {%endif%} > <span>{{forloop.index | prepend: '0'}} </span> {{ link.title }}</a>
            {% if link.dropdown%}
             <ul>
               {% for sublink in link.dropdown %}
                <li class="submenu"> <a  href="{{ sublink.url | absolute_url }}">{{ sublink.title }}</a></li>
               {% endfor %}
             </ul>
             {% endif %}
          </li>
        {% endfor %}
        </ul> 

    
</div>
   
 

   </div>
   </div>
    <div class="row ">
    <hr class=" hr-border">
    </div>
 </div>
</section>